/*Main rules*/
h1{
    margin-bottom: 40px;
}
body {
    margin-top: 50px;
    background: #E3E3E3;
}
/*Start Wrapper container*/
a:hover{ /*for a without href*/
    cursor: pointer;
}
.wrapper-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    padding-top: 100px;
    display: none;
}
.wrapper-container .login-popup{
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    min-height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #000;
    color: #FFF;
    padding-bottom: 20px;
}
.wrapper-container .login-popup .sign-up{
    display: none;
}
.wrapper-container .login-popup .sign-up .fa-eye{
    position: absolute;
    top: 27px;
    right: -19px;
    cursor: pointer;
}
.wrapper-container .login-popup .h1{
    font-weight: bold;
    margin-top: 0;
}
.wrapper-container .login-popup .form-control{
    background-color: rgba(82, 78, 78, 0.6);
    border: none;
    color: #FFF;
}
.wrapper-container .login-popup .fa-stack{
    position: relative;
    top: -4%;
    right: -99%;
    background: #FFF;
    border-radius: 50%;
    color: #000;
}
.wrapper-container .login-popup .fa-stack:hover{
    cursor: pointer;
}
/*End Wrapper container*/
/*Start Navbar*/
.navbar {
    border-radius: 0;
}
.navbar > .container .navbar-brand{
        color: #000;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: MingLiU;
}
.navbar > .container .navbar-brand span {
    color: #E41B17;
}
.navbar > .container .navbar-brand .slogon{
    font-size: 16px;
    margin: 10px 0 10px 0;
}
.nav .fa{
    color: #777;
    padding: 9px 0 0 20px;
    font-size: 24px;
}
.nav .fa:hover{
    cursor: pointer;
}
.nav .fa .number-elements{
    background: #E41B17;
    width: 15px;
    height: 15px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top:-27px;
    right: -20px;
    color: #FFF;
}

/*End Navbar*/
/*Start Search bar*/
.search-bar{
    margin: 150px 0 30px 0;
}
/*End Search Bar*/
/*Start Slide*/
.slide{
    padding-bottom: 70px;
}
#myslide img{
    max-width: 100%;
}
.slide .carousel{
    border: solid 20px #fff;
    border-radius: 15px 15px 0 0;
    margin-top: 60px;
}
/*End Slide*/
/*Start Categories home*/
.categories-home{
    background: #fff;
    border-left: solid 15px #e3e3e3;
    border-right: solid 15px #e3e3e3;
}
.categories-home a{
    color: #333;
}
.categories-home .categorie{
    padding: 20px 0 40px 0;
    -webkit-transition: all 700ms;
    -moz-transition: all 700ms;
    -ms-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms;
}
.categories-home .categorie:hover{
    background: #DDD;
}
/*End Categories home*/
/*Start Description*/
.description{
    background: #F9F9F9;
    padding: 50px 0 50px 0;
}
/*End Description*/
/*Start Home*/
.home{
    padding-top: 60px;
    background-color: #F6F6F6;
    padding-bottom: 60px;
}
.home img{
    width: 100%;
    margin-bottom: 10px;
}
.product{
    padding: 10px;
    background: #FFF;
    border-radius: 0;
    margin: 0 5px;
    border: solid 1px #DDD;
    margin: 20px 0;
    height: 333px;
    overflow: hidden;
}
.product:hover{
    box-shadow: 1px 1px #AAA;
}
.product p{
    font-weight: bold;
}
.product .prix{
    color: #e31711;
    font-weight: bold;
    font-size: 19px;
}
.product .buttons div, .product .buttons iframe{
    display: inline;
}
.product .buttons .btn{
    width: 32%;
    color: #FFF;
}
.product .buttons .cart-add{
    background: #F29B34;
}
.product .buttons .favorite{
    background: #E3000E;
}
.product .buttons .compare-add{
    background-color: #71BA51;
}
.product > div{
    height: 70px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.product:hover > div{
     transform: translateY(-100%);
 }
/*End Home*/

/*.product .buttons{
    transform: translateY(-100%);
}
