/******FB like plugin's*/
.fb-plugin{
    padding-left: 23%;
}
h1, .h1{
    color: #42729B;
}
.btn-warning{
    background-color: #FF8600;
    color: #FFFFFF;
    border-color: #FF8600;
}
.btn-danger{
    background-color: #E22211;
}
.btn-primary{
    background: #31A3FF;
    border: none;
    color: #FFF;
}
/*Main rules*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a > i,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background-color: #FF8600;
    color: #FFFFFF;
}
body {
    margin-top: 50px ;
    background: #E3E3E3;
}
.article-favori{
    color: #E41B17;
    cursor: pointer;
}
/*Start Wrapper container*/
a:hover{ /*for a without href*/
    cursor: pointer;
}
.wrapper-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    padding-top: 100px;
    display: none;
}
.wrapper-container .login-popup{
    background: #232f3e;
    min-height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #000;
    color: #FFF;
    padding-bottom: 20px;
}
.wrapper-container .login-popup h2{
    margin-bottom: 40px;
}
.wrapper-container .login-popup .sign-up{
    display: none;
}
.wrapper-container .login-popup .btn{
    background-color: #31A3FF;
}
.wrapper-container .login-popup .sign-up .fa-eye{
    position: absolute;
    top: 27px;
    right: -19px;
    cursor: pointer;
}
.wrapper-container .login-popup .h1{
    font-weight: bold;
    margin-top: 0;
}
.wrapper-container .login-popup .form-control{
    /*background-color: rgba(82, 78, 78, 0.6);
    border: none;
    color: #FFF;*/
}
.wrapper-container .login-popup .fa-stack{
    position: relative;
    top: -4%;
    right: -99%;
    background: #FFF;
    border-radius: 50%;
    color: #000;
}
.wrapper-container .login-popup .fa-stack:hover{
    cursor: pointer;
}
/*End Wrapper container*/
/*Start Navbar*/
.navbar {
    border-radius: 0;
}
.navbar > .container .navbar-brand{
    color: #000;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: MingLiU;
}
.navbar > .container .navbar-brand span {
    color: #FF8600;
}
.navbar > .container .navbar-brand .slogon{
    font-size: 16px;
    margin: 10px 0 10px 0;
}
.nav .fa{
    color: #777;
    padding: 9px 20px 0 10px;
    font-size: 24px;
}
.navbar-nav > li > a[class='fa-parent']{
    padding: 0px;
}
.nav .fa:hover{
    cursor: pointer;
}
.nav .fa .number-elements{
    background: #E41B17;
    width: 15px;
    height: 15px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top:-27px;
    right: -20px;
    color: #FFF;
}

/*End Navbar*/
/*Start Search bar*/
.search-bar{
    margin: 110px 0 10px 0
}
/*End Search Bar*/
/*Start Slide*/
.slide{
    padding-bottom: 70px;
}
#myslide img{
    max-width: 100%;
}
.slide .carousel{
    border: solid 20px #fff;
    border-radius: 15px 15px 0 0;
    margin-top: 60px;
}
/*End Slide*/
/*Start Categories home*/
.categories-home{
    background: #fff;
    border-left: solid 15px #e3e3e3;
    border-right: solid 15px #e3e3e3;
}
.categories-home a{
    color: #333;
}
.categories-home .categorie{
    padding: 20px 0 40px 0;
    -webkit-transition: all 700ms;
    -moz-transition: all 700ms;
    -ms-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms;
}
.categories-home .categorie:hover{
    background: #DDD;
}
.categories-home .categorie img{
    border-radius: 50%;
}
.filter .chemin,
.home .chemin{
    margin-bottom: 20px;
    font-size: 18px;
}
/*End Categories home*/
/*Start Home*/
.home{
    padding-top: 60px;
    background-color: #F6F6F6;
    padding-bottom: 60px;
}
.home img{
    width: 100%;
    margin-bottom: 10px;
}
.product{
    padding: 10px 10px 0 10px;
    background: #FFF;
    border-radius: 0;
    border: solid 1px #DDD;
    margin: 20px 5px;
    /*height: 333px;*/
    overflow: hidden;
}
.product:hover{
    box-shadow: 1px 1px #AAA;
}
.product p{
    font-weight: bold;
    font-size: 17px;
}
.product .prix{
    color: #e31711;
    font-weight: bold;
    font-size: 19px;
}
.product .buttons a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
.product > div{
    height: 75px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.product:hover > div{
     transform: translateY(-115%);
}
/*End Home*/
/*Start Services*/
.services{
    background: #F9F9F9;
    padding: 30px 0;
}
.services .service{
    margin-top: 30px;
}
.services .service .service-icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #FFF;
    margin-bottom: 40px;
}
.services .commande .service-icon{
    background-color: #FFAC05;
}
.services .confirmation .service-icon{
    background-color: #FFFC87;
}
.services .livraison .service-icon{
    background-color: #A5E65A;
}
.services .service .service-icon .fa{
    line-height: 120px;
}
/*End Services*/
/*Start footer*/
.footer .panel-footer{
    color: #66bfff;
    background-color: #242729;
    padding: 10px 0 0 0;
}
.footer h3{
    margin-bottom: 20px;
}
.footer .fa{
    margin: 0 5px;
}
.footer a .fa-facebook-square
{
    color: #3b5998;
}
.footer a .fa-twitter-square{
    color: #3B94D9;
}
.footer a .fa-google-plus-square{
    color: #db4437;
}
.footer a .fa-instagram{
    padding: 0 3px;
}
.footer a .fa-instagram{
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    color: #FFF;
    border-radius: 5px;

}
.footer #map{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
}
.footer .copyright, .footer .fa-copyright{
    background-color: #111;
    color: #FFF;
}
/*End footer*/
/*Start Search button*/
#goToSearch{
    color: #FFF;
    background: #FF8600;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 58px;
    position: fixed;
    top: 85%;
    right: 3%;
    cursor: pointer;
    z-index: 2000;
    box-shadow: 2px 2px 5px #777;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    display: none;
}
#goToSearch:hover{
    height: 53px;
    width: 53px;
}
/*End Search Button*/
/*Start Filter*/
.filter, .contenu-panier, .contact{
    margin-top: 150px;
    padding-bottom: 50px;
}
/*End Filter*/
/*Start Panier*/
.contenu-panier .tab{
    overflow-x: scroll;
    margin-bottom: 40px;
    background-color: #FFF;
    border: solid 1px #CCC;
}
.contenu-panier .tab:hover{
    box-shadow: 1px 1px #AAA;
}
.table img{
    height: 150px;
    width: 150px;
}
.table .form-control{
    width: 70px;
}
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}
/*End Panier*/
/*Start Contact*/
.contact textarea{
    height: 107px;
}
.contact h1{
    margin-bottom: 50px;
}
/*End Contact*/
/*Start detail produit*/
.detail-produit{
    margin-top: 40px;
    margin-bottom: 30px;
}
.detail-produit img{
    max-width: 100%;
    margin-bottom: 20px;
}
.detail-produit .btn{
    margin-left: 15px;
}
.detail-produit .cara-produit{
    padding-left: 30px;
    padding-bottom: 30px;
}
.detail-produit .cara-produit .btn i{
    font-size: 22px;
    vertical-align: middle;
}
.detail-produit .cara-produit .prix{
    color: #E41B17;
    font-weight: bold;
}
.detail-produit .image-produit,
.detail-produit .cara-produit{
    background: #FFF;
    border: solid 2px #DDD;
}
.detail-produit .cara-produit .add-to-favorite .fa-heart{
    color: transparent;
}
.detail-produit .cara-produit .added-to-favorite{
    color: #E41B17 !important;
}
/*End detail produit*/
/*Start passer commande */
.passer-commande{
    margin: 20px 0 40px 0;
}
.passer-commande textarea{
    height: 112px;
}
/*End passer commande*/