.right-float{
    float: right;
}
.navbar{
    margin-bottom: 0;
}
.form-control{
    border-radius: 0;
}
.modal-content{
    border-radius: 0;
}
.btn{
    border-radius: 0;
    border: none;
}
.input-group-btn > .btn{
    border: 1px solid #CCC;
}
body{
    font-family: 'Maven Pro', sans-serif;
}
/*Start login*/
/*End login*/
/*Start accueil*/
.accueil{
    background: #DDD;
    padding-top: 20px;
}
.accueil .col-md-6,
.accueil .col-md-4,
.accueil .col-md-3,
.accueil .col-md-5{
    padding: 0px;
}
.accueil .row{
    margin: 0 10px;
}
.accueil .informations{
    background: #FFF;
    margin: 3px 3px;
    padding: 1px 15px;
}
.accueil .plusVendu table tr:last-child{
    font-weight: bold;
}
.accueil .revenuMensuel{
    height: 209px;
    padding: 25px 0;
}
.accueil .revenuMensuel h1{
    font-weight: bolder;
}
/*End accueil*/
/*Start Insérer Produit*/
.insererProduit .btn{
    margin-top: 20px;
}
/*End Insérer Produit*/
/*Start Gestion Produit*/
.gestionProduit .input-group,
.gestionFacture .input-group,
.gestionCommande .input-group,
.gestionCompte .input-group{
    margin: 30px 0 30px 0;
}
.gestionProduit .ajouterNouveauProduit,
.gestionCompte .ajouterNouveauCompte{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 85%;
    left: 93%;
    line-height: 54px;
    box-shadow: #BBB 3px 3px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.gestionProduit .ajouterNouveauProduit{
    font-size: 18px;
}
.gestionProduit .ajouterNouveauProduit:hover{
    cursor: pointer;
    background-color: #337AF9;
}
.insererProduit .caracteristique .col-sm-5{
    margin: 5px 0;
}
.gestionProduit .table tbody tr td:last-child{
    font-size: 21px;
    line-height: 21px;
    overflow: hidden;
    cursor: pointer;
}
.gestionProduit .table tbody tr td:last-child .fa-ellipsis-v{
    position: relative;
    left: 20px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.gestionProduit .table tbody tr:hover td:last-child .fa-ellipsis-v{
    left: 0px;
}
.gestionProduit .table tbody tr td:last-child .menu{
    display: none;
    position: absolute;
    background: #EEE;
    padding: 0 10px;
    z-index: 200;
    right: 118px;
    font-size: 15px;
    border: 1px solid #CCC;
}
.menuEpinle{
    left: 0px !important;
}
.gestionProduit .table tbody tr td:last-child .menu .btn{
    margin: 5px 0;
}
/*End Gestion Produit*/
/*Start Gestion Facture*/
.gestionFacture table tr td:first-child{
    font-weight: bold;
}
/*End Gestion Facture*/
.tablesorter th{
    cursor: pointer;
    padding-right: 15px !important;
}
.requiredInput{
    float: right;
    height: 0;
    font-size: 30px;
    color: #F00;
    position: absolute;
    right: -13px;
    top: 3px;
}
th.headerSortUp {
    background-image: url(../img/asc.gif);
    background-repeat: no-repeat;
    background-position: right center;

}
th.headerSortDown {
    background-image: url(../img/desc.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
.supprimerCaracterestique{
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.supprimerCaracterestique:hover{
    color: #E41B17;
    cursor: pointer;
}
.gestionCompte .table tr,
.gestionCommande .table tr,
.gestionFacture .table tr,
.gestionCommandeFournisseur .table tr{
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    cursor: pointer;
}
.gestionCompte .table tbody tr:hover,
.gestionCommande .table tbody tr:hover,
.gestionFacture .table tbody tr:hover,
.gestionCommandeFournisseur .table tbody tr:hover{
    background: #EEE;
}
.table thead th:hover{
    background: #EEE;
}
/*Start Gestion des comptes*/
.gestionCompte .ajouterNouveauCompte{
    height: 50px;
    width: 50px;
    line-height: 43px;
    border-radius: 50%;
}
/*End Gestion des comptes*/