.right-float{
    float: right;
}
.navbar{
    margin-bottom: 0;
}
body{
    font-family: 'Maven Pro', sans-serif;
}
/*Start login*/
/*End login*/
/*Start accueil*/
.accueil{
    background: #DDD;
    padding-top: 20px;
}
.accueil .col-md-6,
.accueil .col-md-4,
.accueil .col-md-3,
.accueil .col-md-5{
    padding: 0px;
}
.accueil .row{
    margin: 0 10px;
}
.accueil .informations{
    background: #FFF;
    border-radius: 5px;
    margin: 3px 3px;
    padding: 1px 15px;
}
.accueil .plusVendu table tr:last-child{
    font-weight: bold;
}
.accueil .revenuMensuel{
    height: 209px;
    padding: 25px 0;
}
.accueil .revenuMensuel h1{
    font-weight: bolder;
}
/*End accueil*/
/*Start Insérer Produit*/
.insererProduit .btn{
    margin-top: 20px;
}
/*End Insérer Produit*/
/*Start Gestion Produit*/
.gestionProduit .input-group,
.gestionFacture .input-group{
    margin: 30px 0 30px 0;
}
.gestionProduit .ajouterNouveauProduit{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 85%;
    left: 93%;
    line-height: 50px;
    box-shadow: #BBB 3px 3px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.gestionProduit .ajouterNouveauProduit:hover{
    cursor: pointer;
    background-color: #337AF9;
}
/*End Gestion Produit*/
/*Start Gestion Facture*/
.gestionFacture table tr td:first-child{
    font-weight: bold;
}
/*End Gestion Facture*/