.right-float{
    float: right;
}
/*Start Insérer Produit*/
.insererProduit .btn{
    margin-top: 20px;
}
/*End Insérer Produit*/
/*Start Gestion Produit*/
.gestionProduit .input-group,
.gestionFacture .input-group{
    margin: 30px 0 30px 0;
}
/*End Gestion Produit*/
/*Start Gestion Facture*/
.gestionFacture table tr td:first-child{
    font-weight: bold;
}
/*End Gestion Facture*/